@{
    ViewData["Title"] = "FormulaireUpdate";
}
@model ToDoList
<h1>@ViewData["Title"]</h1>

<form asp-action="Update">
    <div class="mb-3">
        <label for="@Html.DisplayNameFor((ToDoList a) => a.Title)" class="form-label">Titre</label>
        <input type="text" class="form-control" asp-for="Title" aria-describedby="">
        <label for="@Html.DisplayNameFor((ToDoList a) => a.Description)" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description" aria-describedby="">
    </div>
    
    <button type="submit"  class="btn btn-primary">Submit</button>
</form>

